@media (min-width: 2000px) {

  .btn-wrap .homep{
    width: 750px;
    height: 400px;
  }

  .container {
    max-width: 1170px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
  }
}

@media (max-width: 1500px) {

  .start_section h1, h2 {
    font-size: 2.5rem;
  }

  .btn-wrap .homep{
    width: 750px;
    height: 400px;
  }

  .quote_btn-container a {
    display: none;
  }
}

@media (max-width: 992px) {

  .btn-wrap .homep{
    width: 700px;
    height: 400px;
  }

  .service_section .service_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service_section .box {
    margin: 25px;
  }

  .service_section .box .name h6 {
    color: #ffffff;
  }

  .service_section::before {
    height: 100%;
  }

  .home_section {
    padding-top: 75px;
  }

  .contact_items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact_items .item {
    margin: 20px;
  }
}

@media (max-width: 850px) {
  .start_section h1, 
  .start_section h2 {
    font-size: 1.5rem;
  }
  .btn-wrap .homep{
    width: 550px;
    height: 300px;
  }

  .meio{
    display: flex;
    flex-direction: column;
  }

  .texto{
    order: 1;
  }
  .btn-wrap{
    order: 2;
  }
}

@media (max-width: 768px) {
  .btn-wrap .homep{
    width: 450px;
    height: 250px;
  }

  .client_section .client_container {
    width: 100%;
  }

  .client_section .client_container .box {
    margin: 20px 15px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    display: none;
  }

  .subscribe_section form {
    margin-top: 25px;
  }

  .contact_section .contact_form-container button {
    margin-bottom: 45px;
  }

  .contact_section .contact_form-container input {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .btn-wrap .homep{
    width: 450px;
    height: 250px;
  }

  .custom_heading-container hr {
    display: none;
  }
}

@media (max-width: 480px) {
  .btn-wrap .homep{
    width: 450px;
    height: 250px;
  }

  .subscribe_section form {
    flex-direction: column;
    align-items: center;
  }

  .subscribe_section form button {
    transform: none;
    margin-top: 15px;
  }

  .start_section .detail-box h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 420px) {}

@media (max-width: 360px) {
}
